.primGd{
    background-color: #f4e5c26f !important ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh; 
}
    

.cards {
    background-color:  #ccccc4ed!important;
    padding: 80px;
    width: 300px !important ;
    height: 470px !important ;
    border-radius: 15px;
    border: 3px;
    box-shadow: 0 10px 10px #ccccc4fe;
}

.imgPostagem {

    
    width: 300px;
    height: 290px;
    
}

.cxTitulo{

 font-size: 30px !important;
 font-family: 'EB Garamond', serif;
 color: #6db194ba !important;
}

.cxDescr{
    font-size: 15px !important;
    font-family: 'EB Garamond', serif;
    color: rgba(0, 0, 0, 0.482) !important;
}

.cxTexto{
   
    font-family: 'EB Garamond', serif;
    color: rgba(0, 0, 0, 0.427) !important;

}

.text-decorator-none {
    text-decoration: none;
}

.btncard{
  
  display: flex  !important;
  justify-content: center  !important;

}

.btnAtual{
    
    padding: 1.3em 3em;
    margin-right: 20px !important;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.352)!important;
    background-color: rgba(255, 255, 255, 0.721) !important;
    border: none;
    border-radius: 10px ;
    cursor: pointer;
    outline: none;
    
}

.btnDel{
  
    padding: 1.3em 3em;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.352)!important;
    background-color: #d9d9d990  !important;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
  }







