.cor-menu{
    background-image: url(https://i.imgur.com/N7EDhjF.jpg);
    opacity: 0.8;
}
.cursor{
    cursor:pointer;
    color:white !important;   
}

.text-decorator-none{
    text-align: none;
    text-decoration: none;
    font-weight:bold;     
}