.gridPrinc{
  background-image: url("https://i.imgur.com/64hfq9X.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100vw;
  min-height: 100vh; 

  
}
.cxLogin{
  /* !important: informa ao React que os Estilos do CSS são mais importantes do que
                  os estilos padrões do Material UI 
  
      transparencia em cores hexadecial: ao final de uma cor hexadecimal, passe um valor
      entre 1 a 99, informando o grau de transparencia da cor
  */ 
  
  background-color: #d9d9d9bd ; 
  opacity: 0.7; 
  padding: 38px; 
  width: 309px; 
  margin-left: 10%; 
  border-radius: 15px;  
  border: 3px ;  
  box-shadow: 0 5px 5px #000; 

}
.input{
  background-color: #d9d9d9 ;
}
.texto{
  color: rgba(0, 0, 0, 0.854);
}

.btnLogin {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.553)!important;
  background-color: #fff !important;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  
}
.btnLogin:hover {
  background-color: #23c483 !important;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4)!important;
  color: #fff !important;
  transform: translateY(-7px);
}

.btnLogin:active {
  transform: translateY(-1px);
}






