.box1{
    background-color: #b6eae9;
    height: 120px;
    color: white;
}
.box2{
    background-color:#b6eae9 ;
    height: 60px;
}
.redes{
    font-size: 60;
    color:white;
}
.textos{
    color: white;
    text-decoration: none
}
.link{
    color: white;
    text-decoration: none
}
