.box1{

    background-color: rgba(0, 0, 0, 0.336) !important;
    opacity: 0.9;
    height: 80px;
    color: white !important;
   
    
}


.redes{
    font-size: 60;
    color:white;
}
.textos{
    color: white !important;
  
}
.link{
    text-decoration: none;
}

