.box1{
    background-image: url(https://i.imgur.com/N7EDhjF.jpg) !important;
    opacity:0.6;
    height: 80px;
    color: white !important;
}
.box2{
    background-image: url(https://i.imgur.com/N7EDhjF.jpg)!important;
    opacity:0.6;
    height: 60px;
}
.redes{
    font-size: 60;
    color:white;
}
.textos{
    color: white !important;
    
}
.link{
    text-decoration: none;
}

